html, body {
    margin: 0px;
    padding: 0px;
}

body, .viewport {
    min-height: 100vh;
}

.viewport {

    display: flex;
    justify-content: center;
    align-items: center;
    background: #555;

    canvas {
        
    }

}